/*for the intellisense of tailwindcss in vscode*/
@import "tailwindcss";

.inter {
    font-family: "Inter";
    font-optical-sizing: auto;
}

/* I just downloaded the TakeWave svg from the figma file you provided. Please let me know if this is valid or not. */
/* .takeWave-gradient{
    background: linear-gradient(18deg, yellow 12%, red 50%, blue 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.btn-gradient {
    background: linear-gradient(30deg, #F7E93F 10%, #FB09B4 50%, #9100F8 80%);
    gap: 6px;
    border-radius: 40px;
    padding: 12px 18px;

}

.hero-section {
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;


}