/*for the intellisense of tailwindcss in vscode*/
@import "tailwindcss";

.font-inter {
    font-family: "Inter";
    font-optical-sizing: auto;
}

/* I just downloaded the TakeWave svg from the figma file you provided. Please let me know if this is valid or not. */
/* .takeWave-gradient{
    background: linear-gradient(18deg, yellow 12%, red 50%, blue 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.btn-gradient {
    background: linear-gradient(30deg, #F7E93F 10%, #FB09B4 50%, #9100F8 80%);
    gap: 6px;
    /* this is border radius full in tailwindcss */
    border-radius: 10000px;
    padding: 12px 18px;

}

.hero-bg {
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

@media screen and (max-width: 640px) {
    .hero-bg {
        background-image: url("../assets/hero-bg-mobile.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }

}

.footer-bg {
    background-image: url("../assets/footer-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.hr1 {
    border: none;
    height: 1px;
    background: #1a022bed;
    margin: 0;
}

/* .hr2{
    border: none;
    height: 1px;
    background: white;
    margin: 0 200px;
} */

/* i have made it by myself and used up at least 20 hours to learn about all these stuff. I'm just happy right now. */
.animation {
    position: relative;
    overflow: hidden;
}

.animation>* {
    position: relative;
    z-index: 1;
}

.animation::before {
    content: "";
    position: absolute;
    background: linear-gradient(45deg, transparent 48%, #e31cb54a 50%, transparent 52%);
    inset: -100%;
    z-index: 0;
    animation: shine 10s linear infinite alternate;
}

@keyframes shine {
    0% {
        transform: translate(-100%, 100%);
    }

    25% {
        transform: translate(-50%, 50%);
    }

    50% {
        transform: translate(0%, 0%);
    }

    75% {
        transform: translate(50%, -50%);
    }

    100% {
        transform: translate(100%, -100%);
    }
}